body {
    margin: 0;
    
    background-color:paleturquoise;
     
    color:black;
    
   }

  .video-background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* .lbl{
    background-color: transparent !important;
  } */
  #bg-video {
    object-fit: fill;
    width: 100%;
    height: 100%;

  
  
  }
  
  
  
  .weather-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(8, 8, 8, 0.1);
    padding: 10px;
    text-align: center;
    width: 400px;
    height: 500px;
    animation: float 4s ease-in-out infinite;
    background: transparent;
    /* display: none; */
    box-shadow: 0px 0px 10px 0px black;
    margin-top: 40px;
    backdrop-filter: blur(3px);
    padding-bottom: 30px;
    background-position: 100; 
    margin-left: 500px;
  }
  
  .weather-icon {
    font-size: 50px;
    margin-bottom: 30px;
  }
  
  .temperature {
    font-size: 40px;
    margin: 10px 0;
  }
  
  .location {
    font-size: 20px;
    color: #555;
  }
  
  input {
    border-color: rgb(24, 24, 24);
    border-radius: 5px;
    height: 100%;
    width: 100%;
  
  }
  
  button {
    width: 140px;
    height: 35px;
    margin-right: 10px;
    padding-left: 2px;
    margin-top: 16px;
    border-radius: 5px;
    background-color: #87ceeb;
    box-shadow: 0px 3px 6px 0px black;
    /* content:"";
      filter: blur(50px);
      animation: spin 2s linear infinite; */
  }
  
  button:hover {
    background-color: rgb(84, 115, 218);
  }
  
  button:active {
    border: 3px solid rgb(7, 1, 24);
  }
  
  .report {
    display: flex;
    align-items: center;
    margin-left: 50px;
    border-color: black;
    height: 40px;
    width: 300px;
    /* background-color: red; */
  }
  
  #icon {
    height: 100px;
    width: 100px;
    object-fit: cover;
    padding-bottom: 30px;
    mix-blend-mode: multiply;
  }
  
  @keyframes float {
  
    0%,
    100% {
      transform: translatey(0);
    }
  
    50% {
      transform: translatey(-10px);
    }
  }
  
  
  
  .input-field {
    position: relative;
  }
  
  .input-field input {
    width: 320px;
    height: 50px;
    border-radius: 6px;
    font-size: 20px;
    padding: 0 15px;
    border: 2px solid rgb(59, 57, 57);
    background: transparent;
    outline: none;
  }
  
  .input-field label {
    position: absolute;
    top: 25%;
    left: 30px;
    transform: translatey(-50%);
    color: black;
    font-size: 19px;
    pointer-events: none;
    transition: .4s;
    /* background-color: #191825; */
  
  }
  
  /* input:hover{
      border:4px solid rgb(31, 4, 78);
    } */
  
  input:focus~label,
  input:valid~label {
    top: -11px;
    font-size: 18px;
    /* background: rgb(209, 206, 206); */
    z-index: 1;
  
  }
  
  input:focus {
    border: 2px solid rgb(13, 2, 28);
  }
  
  
  .icons {
    display: flex;
    flex-direction: column;
    /* background-color: #87ceeb; */
    width: 200px;
    height: 200px;
    padding-top: 20px;
    margin-top: 10px;
    
  }
  
  .icon1,
  .icon2,
  .icon3 {
    display: flex;
    /* background-color: rgb(170, 32, 106);  */
    height: 60px;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 10px;
    

  }
  
  .icons label {
    padding-top: 2px;
  
  }
  
  .fa-tint,
  .fa-thermometer-full,
  .fa-wind {
    padding-right: 15px;
  }
  
  .fa-tint {
    margin-left: -12px;
  }
  
  .earth {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    z-index: 10;
  }
  .city_lable{

  }
  
